/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #eee;
$link-color: #999;


@font-face {
    font-family: 'DegularBold';
    src: url('/fonts/DegularVariable.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Degular';
    src: url('/fonts/DegularVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
$font-family-sans-serif: 	'Degular', “Source Sans Pro”, Helvetica, sans-serif;
$presentation-heading-font: 'DegularBold', $font-family-sans-serif;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}